.container{

	
	
}
.name{
	color: #808080;
	width: 81%;
	padding-left: 4px;
}
.password{
	color: #808080;
	width: 81%;
	padding-left: 4px;
}
.email{
	color: #808080;
	width: 81%;
	padding-left: 4px;

}
#change1{
color: #A9A9A9;
padding-left: 259px;
}
#change2{
color: #A9A9A9;
padding-left: 259px;
}

#change3{
color: #A9A9A9;
padding-left: 259px;
}

.ipsum{
	width:50%;
	margin-left:25%;
	
}
#nav{
	margin-right:5%;
	height:35px;	
	
}
.setting{
	margin-top:45px;
	
}
#prompt_button{
	
}
.account{
padding-top: 6px;
color: #808080;
font-weight: bold;
padding-left: 9px;
left: 0px;
position: absolute;
width: 96%;
margin-right: auto;
right: 0px;
margin-left: auto;
background-color: #F1F1F1;
}	
#blah{
	margin-top:80%;
}
.upload{
	
	
}
#imgInp{
	margin-top:80%;
	
}
.fileUpload {
	position: relative;
	overflow: hidden;
	width:93px;
	margin-left:-6px;

}
.fileUpload input.upload {
	position: absolute;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.caption {
    position: relative;
    overflow: hidden;

    /* Only the -webkit- prefix is required these days */
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
	width: 100px;
}

.caption::before {
	content: " ";
	left: 0px;
	transition: #000 0.35s ease-out 0s;
	position: absolute;
	right: 0px;
	bottom: 0px;
    background: transparent;
    transition: background .35s ease-out;
	height:25px;
}

.caption:hover::before {
    background: rgba(0, 0, 0, .5);
}

.caption__media {
    display: block;
    height: auto;
	margin-top:90px;
}

.caption__overlay {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
	width: 112px;

    -webkit-transform: translateY(100%);
            transform: translateY(100%);

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}

.caption__overlay__title {
    -webkit-transform: translateY( -webkit-calc(-100% - 10px) );
            transform: translateY( calc(-100% - 10px) );

    transition: -webkit-transform .35s ease-out;
    transition:         transform .35s ease-out;
}

.caption:hover .caption__overlay__title {
    -webkit-transform: translateY(0);
            transform: translateY(0);
}
.caption__overlay__content{
	margin:-8px;

}
 
.action {
	width: 20%;
}
#alert {
	margin-left: 25%;
	margin-top: 8%;
	position: absolute;
	width: 49%;
}
#alert2 {
	margin-left: 25%;
	margin-top: 6.4%;
	position: absolute;
	width: 49%;
}
#alert1 {
	margin-left: 25%;
	margin-top: 6.2%;
	position: absolute;
	width: 49%;
}
.match {
	margin-left: 10%;
	margin-top: 3px;
}
.notice {
	margin-top: 5px;
	margin-left: 40%;
	color: #777;
}
.forget {
	margin-left: 12%;
	color: #fff;
	margin-top: 8px;
}
#input {
	color: #777;
	font-size: 16px;
	margin-left: 0.5%;
	margin-top: 10px;
}
#input1 {
	color: #777;
	font-size: 16px;
	margin-left: 5.5%;
	margin-top: 10px;
	width: 47%;
}
#login {
	height: 38px;
	background: none repeat scroll 0% 0% #222;
	padding-top: 2px;
	margin-right:3%;
	width:100%;
	padding-right:11px;
}
.left {
	float: right;
	color: #FFF;
	margin-right: 4%;
	padding-top: 6px;
}
.checkbox1 {
	margin-left: 10%;
	margin-top: -25px;
}
#submit {
	margin-left: 33%;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
	width: 31%;
	background-color: #4C9ED9;
	color: #FFF;
	margin-top: 24px;
}
.reset {
	margin-left: 50%;
	margin-bottom: 5px;
	font-size: 16px;
	font-weight: bold;
	width: 41%;
	background-color: #4C9ED9;
	color: #FFF;
	margin-top: 24px;
	height: 33px;
	border-radius: 5px;
}
#name {
	width: 117%;
	padding: 4%;
	height: 46px;
	margin-left: 7%;
	background-color: #FBFBFB;
	font-size: 15px;
}
#pass {
	width: 117%;
	padding: 4%;
	height: 46px;
	margin-left: 7%;
	background-color: #FBFBFB;
	font-size: 15px;
}
#pass1 {
	width: 117%;
	padding: 4%;
	height: 46px;
	margin-left: 7%;
	background-color: #FBFBFB;
	font-size: 15px;
}
.table_width {
	width: 50%;
}
#footer_index {
	background-color: #00337f;
	width: 100%;
	margin-left: auto;
	position: absolute;
}
#footer {
	background-color: #00337f;
	width: 100%;
	margin-left: auto;
	bottom: 0px;
	position: fixed;
}
.paragraph {
	color: #FFF;
	font-size: 14px;
	text-align: center;
	margin-top: 7px;
}
#notification {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5%;
	margin-bottom: 29px;
}
.face {
	margin-bottom: 7px;
}
#wrapper {
	width: 100%;
}
.large_text {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: auto;
	color: #FFF;
}
.small_text {
	font-size: 11px;
	color: #FFF;
}
#logo {
	background: #00337f;
	margin-bottom: -20px;
}
.center {
	left: 50%;
	width: npx;
	margin-left: n/2px;
}
.content {
	margin: auto;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 70px;
}
.table1 {
	width: 87%;
	margin-left: auto;
	margin-right: auto;
	height: 54%;
	margin-bottom: 70px;
}
.form {
	margin-left: auto;
	margin-right: auto;
	margin-top: 6%;
	background-color: #f1f1f1;
	width: 28%;
	height: 297px;
	border-radius: 9px;
	border: 1px solid #CCC;
}
.form1 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	background-color: #f1f1f1;
	width: 28%;
	border-radius: 9px;
	border: 1px solid #CCC;
	height: 150px;
}
.form2 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
	background-color: #f1f1f1;
	width: 28%;
	border-radius: 9px;
	border: 1px solid #CCC;
	height: 270px;
}
.fomr {
	margin: 4% auto 3% 6.5%;
}
.image {
	margin-top: -20px;
}
.heading {
	color: #2a3753;
	margin-left: 3.2%;
	margin-right: auto;
}
.nav1 {
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5%;
}
.small {
	width: 7%;
}
#button2 {
	margin-left: 2%;
	margin-right: auto;
}
#button1 {
	margin-left: 0px;
}
#box {
	border: 64px solid #eee;
	border-radius: 6px;
}
#box1 {
	border: 1px #CCC;
	box-shadow: 1px #CCC;
}
.nav > li > a:hover, .nav > li > a:focus{
    background-color: #000;
    opacity: 0.5;
}	
}
#button {
	margin-left: 432px;
	margin-bottom: 5px;
	width: 177px;
	font-size: 16px;
	font-weight: bold;
}
#button_stay {
	margin-left: 432px;
	margin-bottom: 5px;
	width: 200px;
	font-size: 16px;
	font-weight: bold;
}
#image {
	margin-left: 131px;
}
#display {
	width: 146px;
	height: 91px;
	float: left;
	margin-left: 25%;
	position: absolute;
	margin-top: -80px;
}
.imj {
	width: 100%;
}
.border {
	border: 2px solid #e7e7e7;
	background: #f8f8f8;
	radius: 2px;
	margin-left: auto;
	margin-right: auto;
	padding: 16px;
	color: #999;
	font-size: 14px;
	width: 94%;
}
#errorMessage1 {
	border-radius: 5px;
	font-size: 18px;
	width: 700px;
	padding-left: 10px;
	margin-left: 231px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	margin-bottom: 5px;
	height: 47px;
	padding-top: 11px;
}
#errorMessage2 {
	border-radius: 5px;
	font-size: 18px;
	width: 700px;
	padding-left: 10px;
	margin-left: 231px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	margin-bottom: 5px;
	height: 47px;
	padding-top: 11px;
}
#delete {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
	width: 700px;
	font-size: 18px;
	margin-bottom: 5px;
	height: 47px;
	padding-top: 11px;
	margin-left: 231px;
	padding-left: 10px;
}
.empty {
	font-size: 15px;
	text-align: center;
	padding: 27px;
	width: 84%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 44px;
	border-radius: 8px;
	color: #666;
	position: absolute;
}
.news {
	font-weight: bold;
	font-size: 22px;
	margin-bottom: 0px;
}
